.card-body p {
  font-size: 18px;
  color: #aaa;
}

.card-bottom img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.author {
  line-height: 0.5em;
  align-items: center;
  margin-left: 5px;
}

.author p {
  color: #aaa;
}

.card-body,
.card-bottom {
  margin-left: 20px;
}

.single-news {
  max-height: 500px;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #fff !important;
}

.card {
  background-color: #e3f2fd;
  border: none;
}

.single-news img {
  height: 100%;
  position: center center;
}

.modal-box {
  width: 1200px !important;
  margin-left: -350px;
}
.paragraph {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  text-overflow: ellipsis;

  overflow: hidden;
}

/* Resposive Media Queries */
@media (max-width: 768px) {
  .navbar {
    flex-wrap: nowrap !important;
  }
  #catagory-container {
    flex-direction: column;
    align-items: center;
    width: 100% !important;
  }
  .nav {
    display: block !important;
    width: 100% !important;
    text-align: center;
  }
  .nav-btn {
    width: 100% !important;
    background-color: rgb(255, 254, 254) !important;
  }
  .modal-box {
    width: 100%!important;
    margin-left: 0px;
  }
}
